* {
   font-family: 'Satoshi-Regular';
   cursor: pointer;
}

html {
   scroll-behavior: smooth;
}

.tracking-in-expand-fwd-bottom {
   animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd-bottom {
   0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px) translateY(500px);
      opacity: 0;
   }

   40% {
      opacity: 0.6;
   }

   100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
   }
}

.focus-in-contract {
   animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
   0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
   }

   100% {
      filter: blur(0px);
      opacity: 1;
   }
}

.bounce-bottom {
   animation: bounce-bottom 0.9s both;
}

@keyframes bounce-bottom {
   0% {
      transform: translateY(45px);
      animation-timing-function: ease-in;
      opacity: 1;
   }

   24% {
      opacity: 1;
   }

   40% {
      transform: translateY(24px);
      animation-timing-function: ease-in;
   }

   65% {
      transform: translateY(12px);
      animation-timing-function: ease-in;
   }

   82% {
      transform: translateY(6px);
      animation-timing-function: ease-in;
   }

   93% {
      transform: translateY(4px);
      animation-timing-function: ease-in;
   }

   25%,
   55%,
   75%,
   87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
   }

   100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
   }
}
.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}